body {
      font-family: Arial, sans-serif;
      background-color: #2c3e50; 
      color: #000000; 
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    #container {
      background-color: #34495e; 
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h1 {
      color: #3498db; 
    }

    #new-task {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #task {
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px;
      border: 1px solid #3498db; 
      border-radius: 5px;
      background-color: #fff; 
    }

    #tasks {
      list-style-type: none;
      padding: 0;
    }

    .task-item {
      display: flex;
      align-items: center;
      background-color: #ecf0f1; 
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .task-item button {
      margin-left: 10px;
      background-color: #e74c3c; 
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
    }

    .task-item button:hover {
      background-color: #c0392b;
    }

    .completed {
      text-decoration: line-through;
    }

    button#complete-all,
    button#unselect-all {
      margin-top: 10px;
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button#complete-all {
      background-color: #27ae60; 
      color: #fff;
    }

    button#complete-all:hover {
      background-color: #219d53;
    }

    button#unselect-all {
      background-color: #3498db; 
      color: #fff;
    }

    button#unselect-all:hover {
      background-color: #2980b9;
    }
